In [ ]:
##P-1: Given a list of dictionaries containing information about employees, write a Python 
function to calculate the average salary of all employees.

In [ ]:
def calculate_average_salary(employees_list):
    total_salary = 0
    num_employees = len(employees_list)     
    
    for employee in employees_list:
        total_salary += employee.get('salary', 0)
        
    if num_employees>0:
        average_salary= total_salary/num_employees
        return average_salary
    else:
        return 0

In [ ]:
employees= [ {'name' : 'John', 'salary': 5000},
            {'name':'John2','salary': 6000},
            {'name':'John3','salary': 7000}
          ]

In [ ]:
average_salary = calculate_average_salary(employees)
print(f"Average Salary : ${average_salary:.2f}")

In [ ]:
average_salary = calculate_average_salary(employees)
print(f"Average Salary : ${average_salary}")

In [ ]:
average_salary = calculate_average_salary(employees)
print("Average Salary : ${average_salary}")

In [ ]:
##p-2.Given a list of dictionaries containing information about employees, write a Python function to
calculate the total salary of employees who have a salary greater than a specified threshold.

In [ ]:
def calculate_total_salary_above_threshold(employees_list, threshold):
    total_salary = 0

    for employee in employees_list:
        salary = employee.get('salary', 0)
        if salary > threshold:
            total_salary += salary

    return total_salary

In [ ]:
# Example list of dictionaries containing employee information
employees = [
    {'name': 'John', 'salary': 50000},
    {'name': 'Jane', 'salary': 60000},
    {'name': 'Mike', 'salary': 55000},
    {'name': 'Emily', 'salary': 65000}
]

In [ ]:
# Specify the salary threshold
threshold_salary = 55000

In [ ]:
#p-3 Calculate and print the total salary of employees with a salary above the threshold
total_salary_above_threshold = calculate_total_salary_above_threshold(employees, threshold_salary)
print(f"Total Salary above ${threshold_salary}: ${total_salary_above_threshold:.2f}")

In [ ]:
Given a list of dictionaries containing information about employees, write a Python function to
find the highest salary among all employees.

In [ ]:
def calculate_maximum_salary(employee_list):
    max_salary=0
    
    for employee in employee_list:
        salary = employee.get('salary', 0)
    
        if salary > max_salary:
            max_salary = salary
                
    return max_salary

In [ ]:
employees = [
    {'name': 'john', 'salary': 5000},
    {'name': 'jane', 'salary': 6000},
    {'name': 'mike', 'salary': 7000},
    {'name': 'emily','salary': 8000}
]

In [ ]:
maxsalary=calculate_maximum_salary(employees)

In [ ]:
print(maxsalary)

In [ ]:
print("Maximum Salary:", maxsalary)

In [ ]:
##p-4.Given a list of dictionaries containing information about employees, write a Python function to 
find the lowest salary among all employees.

In [ ]:
##lowest salary
def calculate_minimum_salary(employee_list):
    min_salary=1.7976931348623157e+308
    
    for employee in employee_list:
        salary = employee.get('salary', 0)
    
        if salary < min_salary:
            min_salary = salary
                
    return min_salary

In [ ]:
employees = [
    {'name': 'john', 'salary': 3000},
    {'name': 'jane', 'salary': 6000},
    {'name': 'mike', 'salary': 7000},
    {'name': 'emily','salary': 8000}
]

In [ ]:
lowestsalary=calculate_minimum_salary(employees)

print("Lowest Salary:", lowestsalary)

In [ ]:
##another_way

def find_lowest_salary(employees_list):
    lowest_salary = float('inf')  # Initialize with a value higher than any possible salary

    for employee in employees_list:
        salary = employee.get('salary', float('inf'))
        if salary < lowest_salary:
            lowest_salary = salary

    return lowest_salary

In [ ]:
# Example list of dictionaries containing employee information
employees = [
    {'name': 'John', 'salary': 50000},
    {'name': 'Jane', 'salary': 60000},
    {'name': 'Mike', 'salary': 55000},
    {'name': 'Emily', 'salary': 65000}
]

In [ ]:
# Find and print the lowest salary among employees
lowest_salary = find_lowest_salary(employees)
print(f"Lowest Salary: ${lowest_salary:.2f}")

In [ ]:
##p-5.Given a list of dictionaries containing information about employees (including department), write 
a Python function to calculate the average salary of employees within a specified department.

In [ ]:
def calculate_average_salary(employee_list, department):
    total_salary=0
    num_employee=0
    
    for employee in employee_list:
        salary = employee.get('salary', 0)
        department1 = employee.get('department','' )
        
        if department1 == department:
            total_salary += employee.get('salary', 0)
            num_employee += 1
            
    if  num_employee> 0:
        avg= total_salary/num_employee
                
        return avg
    else:
        return 0

In [ ]:
employees=[
    {'name': 'john', 'salary':5000, 'department':'cse'},
    {'name': 'jane', 'salary':2000, 'department':'cse'},
    {'name': 'mika', 'salary':7000, 'department':'cse'},
    {'name': 'emily', 'salary':9000, 'department': 'bba'},
    {'name': 'olaa', 'salary':4000, 'department': 'bba'},
    {'name': 'shila', 'salary':1000, 'department': 'bba'}
    
]
target_department ='bba'

In [ ]:
avg = calculate_average_salary(employees, target_department)

print(f"Average Salary of BBB: ${avg:.2f}")

In [ ]:
for employee in employees:
        salary = employee.get('salary', 0)
        print(salary)

In [ ]:
##p-6.Given an integer x, return true if x is a palindrome, and false otherwise.

In [ ]:
def is_palindrome_integer(n):
    if n<0:
        return false
    
    #convert the integer to a string 
    n_str=str(n)
    
    #check if the n_str is equal to the reverse
    return n_str == n_str[::-1]

In [ ]:
x=121

In [ ]:
y=is_palindrome_integer(x)
print(y)

In [ ]:
def is_palindrome(s):
    return s == s[::-1]
 
print(is_palindrome("racecar")) 
print(is_palindrome("hello")) 
print(is_palindrome("level")) 
print(is_palindrome("python"))

In [ ]:
s=121
reversed_s = s[:: -1]
print(reversed_s)

In [ ]:
s="hello"
reversed_s = s[:: -2]
print(reversed_s)

In [ ]:
s="hello"
reversed_s = s[:: 1]
print(reversed_s)

In [ ]:
s="hello"
reversed_s = s[:: 2]
print(reversed_s)

In [ ]:
11/2

In [ ]:
def is_palindrome_integer(n):
    if n<0:
        return False
    original = n
    reverse_num = 0
    
    while n>0:
        last_digit = n%10
        reversed_num = reversed

In [ ]:
##p-7. Remove duplicate from sorted array

In [ ]:
def remove_duplicates(sorted_array):
    if len(sorted_array) == 0:
        return []

    unique_elements = [sorted_array[0]]
    
    for num in sorted_array[1:]:
        if num != unique_elements[-1]:
            unique_elements.append(num)
    return unique_elements

nums = [1, 2, 2, 3, 22, 30, 30, 47, 47, 99]
k = remove_duplicates(nums)
print(k)

In [ ]:
my_array:[1,2,2,3,3,3,4,,5,6,6,7]

In [ ]:
## anotherway
def remove_duplicates(nums):
    nums[:] = sorted(set(nums))

# Example usage
sorted_array = [1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 6]
remove_duplicates(sorted_array)
print(sorted_array)

In [ ]:
##anotherway
def remove_duplicates(nums):
    if not nums:
        return 0
    
    j = 0
    for i in range(1, len(nums)):
        if nums[i] != nums[j]:
            j += 1
            nums[j] = nums[i]
    
    del nums[j+1:]

# Example usage
sorted_array = [1, 1, 2, 2, 3, 3, 3, 4, 5, 5, 6]
remove_duplicates(sorted_array)
print(sorted_array)  # Print the array with unique elements

In [ ]:
##array blank 
def remove_duplicates(my_array1):
    if len(my_array1) == 0:
        return []

In [ ]:
my_array = []

In [36]:
final_array=remove_duplicates(my_array)
print(final_array)

[]

In [2]:
array_1= [1,2,4,6,7,9]

In [6]:
sorted_array= [array_1[0]]